.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 6rem 0.5rem 0 21rem;
    transition: padding-left var(--layout-section-transition-duration);
    width: 100%;
    box-sizing: border-box;
}

// Quando o menu está compacto
.layout-main-compact {
    padding-left: 5rem;
}

.layout-main {
    flex: 1 1 auto;
    padding: 0 1rem 1rem 1rem;
    border-radius: var(--content-border-radius);
    background-color: #f3f4f6;
    min-height: calc(100vh - 10rem);
    width: 100%;
    box-sizing: border-box;
}
